<?xml version="1.0"?>

<launch>
   <arg name="world" default="go2011_arena.world"/>

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find hector_nist_arena_worlds)/worlds/$(arg world)" respawn="false" output="screen"/>

</launch>
